#aboutMe-tab {
    color: rgb(59, 59, 59);
}

.h3-aboutme {
    font-size: 1.5rem;
    font-weight: 400;
}

.h2-aboutme {
    font-size: 2rem;
    font-weight: 400;
}

.about-p {
    width: 45rem;
    padding: 0.5rem 0rem 2rem 0rem;
    font-weight: 300;
    font-size: 1.2rem;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

