/*Changes width of html element based on screen size*/
@media (max-width: 1199.98px) {    
    html {width: 100%;}  
}
@media (min-width: 1200px) {    
    html {width: 80%;}
}
@media (min-width: 1500px) {    
    html {width: 70%;}
}
@media (min-width: 2000px) {    
    html {width: 55%;}  
}

/*Vertical Ipad*/
@media (max-width: 767.98px) { 
    .line{width: 40rem;}

    .about-p {
        width: 30rem;
        font-size: 1.1rem;
    }

    .drop-down-tabs { font-size: 0.8rem}

    .filler{padding: 3rem;}

    .container {height: 23rem;}

    .headshot {height: 15rem;}   

    .header-ul > li {font-size: 0.9rem;}

    .h2-header {font-size: 1.3rem;}

    h1 {font-size: 2rem;} 

    .text-links {display: none;}
}

@media (max-width: 539.98px) { 

    .filler{padding: 2rem;}

    .container {height: 15rem;}

    .tabs-header {font-size: 1.1rem;}
    
    .line{width: 30rem;}

    .about-p {
        width: 23rem;
        font-size: 1rem;
    }
    .headshot {height: 10rem;}  

    .header-ul {padding: 0rem 0rem 0rem 1rem;}

    .header-ul > li {
        font-size: 0.8rem; 
        list-style-type: none;
    }

    .h2-header {font-size: 1rem;}

    h1 {font-size: 1.5rem;} 

    textarea, label, input {width: 25rem;}
}
