footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    height: 40%;
}

i {
    font-size: 3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color:rgb(155, 155, 155);
}

i:hover {
    color: rgb(255, 255, 255);
    transition: 1s;
}

.favicon-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-bottom: solid 2px rgb(231, 231, 231);
    border-top: solid 2px rgb(231, 231, 231);
}

.contact-header {
    margin-top: -4rem;
    color: rgb(231, 231, 231);
    font-size: 2rem;
    font-weight: 300;
}

.copyright {
    color: rgb(155, 155, 155);
    text-align: center;
    background-color: rgb(59, 59, 59);
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.links-container > a {
    color: rgb(155, 155, 155);
    padding: 0.5rem;
    text-decoration: none;
}

.links-container > a:hover {
    color: rgb(255, 255, 255);
    transition: 1s;
}

.link {
    display: block;
}