footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    height: 50%;
}

i {
    font-size: 3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color:rgb(231, 231, 231);
}

i:hover {
    color: rgb(95, 183, 255);
    transition: 1s;
    font-size: 3.5rem;
}

.favicon-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-bottom: solid 2px rgb(231, 231, 231);
    border-top: solid 2px rgb(231, 231, 231);
}

.contact-header {
    margin-top: -4rem;
    color: rgb(231, 231, 231);
    font-size: 2rem;
    font-weight: 300;
}

.copyright {
    color: White;
    text-align: center;
    background-color: rgb(59, 59, 59);
}