* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

html {
    height: 100%;
    background-color: white;
    width: 85%;
    margin: auto;
}

body {
    height: 100%;
    box-shadow: 1px 7px 35px -13px rgba(0,0,0,0.88);
    background-color: rgb(59, 59, 59);
    
}
