.headshot {
    height: 20rem;
    border-radius: 3%;
    box-shadow: 1px 7px 35px -13px rgba(0,0,0,0.88);
}

header {
    background-color: white;
}
/* navigation menu */
ul {
    display: flex;
    flex-direction: column;
}

.nav-box > li {
    list-style-type: none;
    padding: 1.2rem;
    font-size: 1.2rem;
    color: white;
    width: 100%;
    text-align: center;
}

.nav-box > li:hover {
    background-color: rgb(126, 124, 122);
    cursor: pointer;
    transition: 1s;
    color: rgb(46, 46, 46);
}

.navigation-container {
    background-color: rgb(59, 59, 59);
    position: fixed;
    margin: 2rem;
    margin-top: 6rem;
}

.center-nav {
    display: flex;
    justify-content: flex-end; 
    align-content: center;
}
/* navigation menu */

.container {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: column;
}
.about-p {
    width: 30rem;
    padding: 1rem 1rem 0rem 2rem;
    font-weight: 200;
    font-size: 1.1rem;
}

h1 {
    font-weight: 400;
    font-size: 3rem;
    padding: 0rem 0rem 0rem 1rem;
    color:rgb(59, 59, 59)
}

h2 {
    font-weight: 400;
    padding: 0rem 0rem 0rem 1rem;
}