main {
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proficiencies {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0rem 7rem 4rem 7rem;
}

.skills-ul > li {
    font-size: 1.4rem;
    list-style-type: none;
    padding: 0.3rem;
    list-style-type: square;
    font-weight: 200;
}

.line {
    height: 2px;
    background-color: black;
    width: 30rem;
    margin-bottom: 1rem;
    left: 0;
}

.skills-container {
    padding: 2rem 0rem 4rem 0rem;
    display: none;
}

.drop-down {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.drop-down-tabs {
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.colorone {background-color: rgb(206, 206, 206); cursor: pointer;}
/* .colorone:hover {background-color: rgb(231, 231, 231);} */

.colortwo {background-color: rgb(185, 185, 185); cursor: pointer;}
/* .colortwo:hover {background-color: rgb(231, 231, 231);} */

.colorthree {background-color: rgb(138, 138, 138); cursor: pointer;}
/* .colorthree:hover {background-color: rgb(231, 231, 231);} */

.colorfour {background-color: rgb(117, 117, 117); cursor: pointer;}
/* .colorfour:hover {background-color: rgb(231, 231, 231);} */