main {
    background-color: rgb(221, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    height: auto;
}

.portfolio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skills-h3 {font-weight: 400;}

.skills-ul > li {
    font-size: 1.2rem;
    list-style-type: none;
    padding: 0.3rem;
    list-style-type: square;
    font-weight: 200;
}

.skills-container {padding: 2rem;}


.tab-i {
    margin: 0rem 0.7rem 0rem 0rem;
}
.drop-down {
    display: flex;
    justify-content: space-evenly;
    width: 100%;   
}

.tabs-header {
    font-weight: 300;
    pointer-events: none;
}

.drop-down-tabs {
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: rgb(187, 187, 187);
    background-color: rgb(59, 59, 59);
    border-left: solid 0.5px rgb(155, 155, 155);
    border-right: solid 0.5px rgb(155, 155, 155);
}

#aboutMe-tab {
    color: rgb(59, 59, 59);
}

.drop-down-tabs:active {background-color: white;}

.filler {
    padding: 6rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h3-aboutme {font-weight: 400;}

.about-p {
    width: 40rem;
    padding: 1rem 0rem 1rem 0rem;
    font-weight: 200;
    font-size: 1.1rem;
}

 /* contact form */
.h2-form {
    color: rgb(59, 59, 59);
    font-weight: 300;
    margin: 1rem;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label, input {
    all: unset;
    background-color: white;
    padding-left: 0.2rem; 
    font-size: 1.2rem;
    width: 30rem;
    margin: 0.3rem;
}
textarea {
    all: unset;
    background-color: white;
    padding: 0.2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 30rem;
    height: 20rem;
}
button {
    all: unset;
    border-radius: 3%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.3rem;
    background-color: rgb(59, 59, 59);
    width: 10rem;
    height: 3rem;
    color: rgb(187, 187, 187); 
}
/* contact form */